.drag-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  min-height: 10rem;
  font-size: 3rem;
  color: #77c0f1;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
  cursor: default;
  user-select: none;
}
