.config-page {
  height: 100vh;
  padding-left: 14rem;
  box-sizing: border-box;
  
  header.menu {
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .cut-img-container {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
  }
  
  .reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    margin: 5rem auto;
    overflow: hidden;
  }
  
  label.input-container {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }

  .cut-img-container {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin-bottom: 5px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    .prompt {
      position: absolute;
      width: 100%;
      height: 3rem;
      bottom: -3rem;
      line-height: 3rem;
      text-align: center;
      color: #fff;
      background: #000;
      opacity: 0.5;
      transition: bottom 0.3s;
    }

    &:hover .prompt {
      bottom: 0;
    }

    img {
      width: 100%;
    }
  }
}