.create-project-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  height: 28rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-sizing: border-box;
  background: #fff;

  header.icon-close-container {
    padding: 0.5rem 0.5rem 0 0;
    text-align: right;
  }

  .content-container {
    flex: 1;
    padding: 0 2rem 1rem;

    h3 {
      margin: 0 0 1rem 0;
      font-weight: 400;
    }

    .select-container {
      display: flex;
      align-items: center;
      height: 5rem;
    }

    label.label {
      margin-right: 1rem;
    }

    input.name {
      width: 12rem;
      height: 2rem;
      padding: 0.5rem;
      font-size: 1rem;
      outline: none;
      border: none;
      border-bottom: 1px solid #aaa;
      box-sizing: border-box;

      &:focus {
        border-bottom: 1px solid #bce3ec;
      }
    }

    input.input-radio {
      position: relative;
      margin: 0;
      cursor: pointer;
    }

    input.img, input.svg, input.personal, input.team {
      &::after {
        position: absolute;
        top: -4px;
        left: 1rem;
        white-space: nowrap;
        font-size: 1rem;
      }
    }

    input.svg {
      margin-right: 6rem;

      &::after {
        content: 'SVG类型'
      }
    }

    input.img {
      &::after {
        content: '图片类型'
      }
    }

    input.personal {
      margin-right: 6rem;
        
      &::after {
        content: '个人项目'
      }
    }

    input.team {
      &::after {
        content: '团队项目'
      }
    }
  }
  
  footer.btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5rem 1.5rem 0;
  }
}
