.icon-show-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  padding: 0 1.5rem 2rem;
  box-sizing: border-box;

  .icon-group-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1rem 1rem;
    box-sizing: border-box;

    span.group-name {
      font-size: 1.2rem;
      font-weight: 500;
      color: #555;
      cursor: pointer;

      svg.icon-group {
        width: 2rem;
        height: 1.2rem;
      }
    }

    .group-tools {
      display: flex;
      align-items: center;
    }
  }

  figure.icon-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 7rem;
    height: 9rem;
    margin: 0 0.5rem 2rem;
    padding-top: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    .icon-container {
      position: relative;
      width: 80%;
      height: calc(100% - 3rem);
    }

    figcaption {
      width: 90%;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  figure.fill-item {
    width: 7rem;
    height: 0;
    margin: 0 0.5rem;
  }
}
