.login-page {
  height: 100vh;
  padding-left: 14rem;
  box-sizing: border-box;

  header.menu {
    margin-bottom: 5rem;
    padding: 1rem;
  }

  .login-container, .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    margin: 0 auto;
    overflow: hidden;
  }

  label.input-container {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
}
