.upload-head-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50rem;
  height: 25rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-sizing: border-box;
  background: #fff;

  header.icon-close-container {
    padding: 0.5rem 0.5rem 0 0;
    text-align: right;
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0 2rem 1rem;
    cursor: pointer;

    .canvasContainer {
      width: 60%;
      height: 100%;
    }

    .previewContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      height: 100%;
    }
  }
  
  footer.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 2rem 1rem 2rem;
  }

  input.input-img {
    position: relative;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '上传文件';
      width: 100%;
      height: 100%;
      line-height: 2rem;
      text-align: center;
      top: 0;
      left: 0;
      background: #eee;
      z-index: 100;
    }
  }

  button.upload-img {
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    background: #eee;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
