.upload-icons-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  max-width: 100vw;
  height: 35rem;
  max-height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-sizing: border-box;
  background: #fff;

  header.icon-close-container {
    padding: 0.5rem 0.5rem 0 0;
    text-align: right;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0 2rem 1rem;

    h3 {
      margin: 0 0 1rem 0;
      font-weight: 400;
    }

    .progress {
      flex: 1;
      min-height: 15rem;
      max-height: 18rem;
      margin-top: 1rem;
      padding-right: 5px;
      border: 1px solid #eee;
      border-radius: 10px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }
    }

    .file-progress-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 2.2rem;
      margin: 1rem 0;
      padding: 0 1rem;
    }

    .control {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 2.5rem);
      height: 1rem;
      font-size: 1rem;
      color: #555;

      span.file-name {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .tools {
        display: flex;
        justify-content: space-between;
        width: 2.5rem;
        height: 100%;

        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  
  footer.btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem 1.5rem 0;
  }
}